*{
margin: 0;
padding: 0;
}
.main{
    height: 641px;
    background-color: blue;
    width: 100%;
    position: relative;
}
.calculater{
    height: 400px;
    width: 35%;
    margin-left: 350px;
    margin-top: 20px;
    position: absolute;
    background-color: whitesmoke;
}
input{
    height: 70px;
    width: 100%;
    /* margin-top: 10px; */
    /* background-color: gray; */
    border: none;
    font-size: 30px;
    
    /* outline: none; */
}
.button{
    font-size: 30px;
    display: flexbox;
    gap: 60px;
    width: 100px;
    height: 50px;
    border: none;
    box-shadow: green;
    margin-top: 5px;
    margin-left: 10px;
    box-shadow: rgb(#220 #235, #242);
    border-radius: 20px;
    background-color: green;
    color: white;
}
.btn2{
    margin-top: 10px;
}
.btn3{
    margin-top: 10px;
}
.btn4{
    margin-top: 10px;
}
.mybtn{
    width: 28%;
    margin-left: 150px;
    height: 60px;
    margin-top: 10px;
    font-size: 50px;
}
.mybtn:hover{
    background-color: rgb(87, 81, 81);
    color: white;
    border: none;
    transition: 1s;
}
